
<ul>
  <li ng-repeat="cat in $ctrl.categories">
    {{cat.short_name}}:
    <a ui-sref="categories.items({catId:cat.short_name})">{{cat.name}}</a>
    <span ng-if="cat.special_instructions">({{cat.special_instructions}})</span>
  </li>
</ul>


<!-- <table class="table-condensed col-sm-7">
  <tr ng-repeat="cat in $ctrl.categories">
    <td width="5%" align="right">{{cat.short_name}}</td>
    <td width="20%"><a ui-sref="categories.items({catId:cat.short_name})">{{cat.name}}</a></td>
    <td width="75%"><span class="small" ng-if="cat.special_instructions">({{cat.special_instructions}})</span></td>
  </tr>
</table> -->
